@(entries: Seq[models.List])(nearDeadline: Seq[models.Task])(pastDeadline: Seq[models.Task])(implicit request: RequestHeader)
@import util.Random
@import java.time.LocalTime
@userId = @{request.session.get("userId").getOrElse("")}
@entryRow(entry: models.List) = {
    <tr id="@entry.listId">
        <td class="listName"><a href="/lists/@entry.listId">@entry.listName</a></td>
        <td class="genre">
            @entry.genreId match{
                case 0 => {<i class="fas fa-list"></i>}
                case 1 => {<i class="fas fa-book"></i>}
                case 2 => {<i class="far fa-envelope"></i>}
                case 3 => {<i class="fas fa-shopping-cart"></i>}
                case 4 => {<i class="fas fa-utensils"></i>}
                case 5 => {<i class="fas fa-school"></i>}
                case 6 => {<i class="fas fa-video"></i>}
            }
        </td>
        <td>
            <div class="pop-box">
                <label for="popup-on"><label for="popup-on"><div class="btn-open"><i class="fas fa-trash-alt"></i></div></label>
                    <input type="checkbox" id="popup-on">
                    <div class="popup">
                        <label for="popup-on" class="icon-close">×</label>
                        <div class="popup-content">
                            <!-- ポップアップの中身 -->
                            <h3>リスト削除</h3>
                            本当に削除しますか?<br><br>
                            <a href="/lists/@entry.listId/delete" class="btn-close">削除</a>
                            <!-- ./ポップアップの中身　ここまで -->
                        </div>
<!--                        <label for="popup-on"><div class="btn-close">閉じる</div></label>-->
                    </div>
            </div>
        </td>
    </tr>
}

@notificationRow(notification: models.Task) = {
    <tr id="@notification.taskId">
        <td class="name1"><a href="/lists/@notification.listId/@notification.taskId/edit">@notification.name1</a></td>
        <td class="deadline">@notification.deadYear 年 @notification.deadMonth 月 @notification.deadDay 日</td>
    </tr>
}

@main("Mother"){

<!--各ボタン-->
<!--退会-->
    <div class="button">
        <a href="/deactivate" id="deactivate" class="btn-border">退会</a>
    </div>

<!--ログアウト-->
    <div class="button">
        <a href="/" id="logout" class="btn-border">ログアウト</a>
    </div>

<!--アカウント設定-->
    <div class="button">
        <a href="/settings" class="btn-border">アカウント</a>
    </div>

<!--新規リスト登録-->
    <div class="button">
        <a href="/lists/create" class="btn-border">新規リスト作成</a>
    </div>

<!--通知欄-->
<div class="w3-row">
    <div class="w3-half">
        <h3>通知</h3>
    </div>
</div>
    @if(nearDeadline.nonEmpty){
        <table id="nearDeadline" class="w3-table w3-striped w3-border">
            <tr>
                <th>タスク名</th>
                <th>締切日</th>
            </tr>
            @for(notification <- nearDeadline){
                @notificationRow(notification)
            }
        </table>
    }else{
        <p>新しい通知はありません</p>
    }
<div class="w3-row">
    <div class="w3-half">
        <h3>締切超過</h3>
    </div>
</div>
    @if(pastDeadline.nonEmpty){
        <table id="pastDeadline" class="w3-table w3-striped w3-border">
            <tr class="w3-red">
                <th>タスク名</th>
                <th>締切日</th>
            </tr>
            @for(notification <- pastDeadline){
                @notificationRow(notification)
            }
        </table>
    }else{
        <p>締切を過ぎたタスクはありません</p>
    }


<!--リスト-->
<div class="w3-row">
    <div class="w3-half">
        <h3>登録済みリスト</h3>
    </div>
</div>
    @if(entries.nonEmpty){
        <table id="lists-list" class="w3-table w3-striped w3-border">
            <tr>
                <th>リスト名</th>
                <th>ジャンル</th>
                <th></th>
            </tr>
            @for(entry <- entries){
                @entryRow(entry)
            }
        </table>
    }else{
        <p>登録されたリストはありません</p>
    }
<!---->


<div class="sticky">
    @if(userId.toInt % 3 == 0){
    <p><img src="@routes.Assets.versioned("images/sidebar_a.png")" width="280px" height="480px"></p>
    <div class="char">
        @Random.nextInt(2) match{
        case 0 => {
        @LocalTime.now().getHour() match{
        case 6|7|8|9|10|11|12     => {<p>おはよう！</p>}
        case 13|14|15|16|17|18|19 => {<p>もうお昼よ！</p>}
        case _                    => {<p>おかえりなさい</p>}
        }
        }
        case 1 => {
        @LocalTime.now().getHour() match{
        case 12|13|14|18|19|20 => {<p>体調崩してない？</p>}
        case 23|0|1|2|3        => {<p>そろそろ寝なさい！</p>}
        case _                 => {<p>今日も一日頑張って！</p>}
        }
        }
        }
    </div>
    }

    @if(userId.toInt % 3 ==  1){
    <p><img src="@routes.Assets.versioned("images/sidebar.png")" width="280px" height="480px"></p>
    <div class="char">
        @Random.nextInt(2) match{
        case 0 => {
        @LocalTime.now().getHour() match{
        case 6|7|8|9|10|11|12     => {<p>おはようございます！</p>}
        case 13|14|15|16|17|18|19 => {<p>こんにちは！</p>}
        case _                    => {<p>こんばんは！</p>}
        }
        }
        case 1 => {
        @LocalTime.now().getHour() match{
        case 12|13|14|18|19|20 => {<p>ご飯はちゃんと食べてますか？</p>}
        case 23|0|1|2|3        => {<p>そろそろ寝ませんか？</p>}
        case _                 => {<p>今日も一日頑張りましょう！</p>}
        }
        }
        }
    </div>
    }

    @if(userId.toInt % 3 == 2){
    <p><img src="@routes.Assets.versioned("images/sidebar_k.png")" width="280px" height="480px"></p>
    <div class="char">
        @Random.nextInt(2) match{
        case 0 => {
        @LocalTime.now().getHour() match{
        case 6|7|8|9|10|11|12     => {<p>おはようさん！</p>}
        case 13|14|15|16|17|18|19 => {<p>こんちは！</p>}
        case _                    => {<p>まいど！</p>}
        }
        }
        case 1 => {
        @LocalTime.now().getHour() match{
        case 12|13|14|18|19|20 => {<p>調子、どや？</p>}
        case 23|0|1|2|3        => {<p>そろそろ寝とったら？</p>}
        case _                 => {<p>おかんに任しとき！</p>}
        }
        }
        }
    </div>
    }
</div>
}