@(userName: String)(userId: Int)(implicit request: RequestHeader)

@import helper._

@signup{
@CSRF.formField
<dl>
    <dt>ユーザー名</dt>
    <dd>@userName</dd>
</dl>
<dl>
    <dt>あなたのお母さん </dt>
    @(userId % 3) match {
    case 0 => {<dd><img src="@routes.Assets.versioned("images/icon.png")" width="150px" height="150px"></dd>}
    case 1 => {<dd><img src="@routes.Assets.versioned("images/icon_a.png")" width="150px" height="150px"></dd>}
    case 2 => {<dd><img src="@routes.Assets.versioned("images/icon_k.png")" width="150px" height="150px"></dd>}
    }
</dl>
<div class="button">
    <a href="/signup/complete" class="btn-border">登録</a>
</div>
}
